
.sessionrieng{
    margin-top: 150px;
}
.hinh{

    transition: all 1s ease;
}
.hinh:hover {
    transform: scale(1.08,1.08);
}


.hinhct:hover {
    transform: scale(1.02,1.02);
}
.hinhct {
	transition: all 1s;
}

