/*.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}*/

.sessionrieng{
  margin-top: 80px;
}

.my-container {
  max-width: 1300px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  /*border-color:  #6c757d;*/
  border-color: #f8f9fa;
  outline: 0;
  box-shadow:  0 0 0 .2rem rgba(108,117,125,.2);
}

.breadcrumb {
  background-color: #fff;
  padding: 0.75em 0em;

}


.pagination li.page-item a.page-link {
  color: #6c757d;

}

.pagination li.page-item.active .page-link {
  background-color: #545b62;
  color: #fff;
  border-color: #545b62;
}


.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(150,130,180,.25);
}

.dropdown-item:active {
  background-color: #6c757d;
}



.badge_cs {
    font-size: 80%;
    line-height: 2;
    border-radius: 1.25rem;
}





.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #7c7c7d;
    background-color: #6c757d;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #343a40;
}

.custom-select {
  width: 4em;
}


/*.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #adb5bd;
    background-color: #2c2525;
}*/

.custom-select {
  width: 4em;
}


.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 .2rem rgba(116, 121, 126, 0.25);
}


.xuong {
  width: 100%;
  position: absolute;
  bottom: 0em;
}
