/*.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}*/

.sessionrieng{
  margin-top: 80px;
}

.my-container {
  max-width: 1300px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  /*border-color:  #6c757d;*/
  border-color: #f8f9fa;
  outline: 0;
  box-shadow:  0 0 0 .2rem rgba(108,117,125,.2);
}

.breadcrumb {
  background-color: #fff;
  padding: 0.75em 0em;

}


.pagination li.page-item a.page-link {
  color: #6c757d;

}

.pagination li.page-item.active .page-link {
  background-color: #545b62;
  color: #fff;
  border-color: #545b62;
}


.page-link:focus {
    box-shadow: 0 0 0 .2rem rgba(150,130,180,.25);
}

.dropdown-item:active {
  background-color: #6c757d;
}


.badge_cs {
    font-size: 80%;
    line-height: 2;
    border-radius: 1.25rem;
}



.check {
  display: block;
  position: relative;
  padding-left: 1em;
  cursor: pointer;
  font-size: 0.5em;
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0.25em;
  left: ;
  height: 2em;
  width: 2em;
  /*border: 1px solid #f8f9fa;*/
  background-color: #dee2e6;
  border-radius: 0.3em;
}

.check:hover input ~ .checkmark {
  background-color: #545b62;
  box-shadow:  0 0 0 .2rem rgba(108,117,125,.2);
}

.check input:checked ~ .checkmark {
  background-color: #545b62;
  box-shadow:  0 0 0 .2rem rgba(108,117,125,.2);
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check input:checked ~ .checkmark:after {
  display: block;
}


.check .checkmark:after {
  left: 0.55em;
  top: 0em;
  width: 0.75em;
  height: 1.5em;
  border: solid #dee2e6;
  border-width: 0 0.25em 0.25em 0;
  transform: rotate(45deg);
}


.custom-select {
  width: 4em;
}